In [1]:
import pandas as pd
import numpy as np

In [2]:
from data_cleaner import DataCleaner
cleaner = DataCleaner()

In [3]:
df = pd.read_csv('test_data.csv')
df.head()

,Borrower_ID,Age,Gender,Employment_Type,Monthly_Income,Num_Dependents,Loan_ID,Loan_Amount,Loan_Tenure,Interest_Rate,...,Collateral_Value,Outstanding_Loan_Amount,Monthly_EMI,Payment_History,Num_Missed_Payments,Days_Past_Due,Recovery_Status,Collection_Attempts,Collection_Method,Legal_Action_Taken
0,BRW_1,59,Male,Salaried,215422,0,LN_1,1445796,60,12.39,...,1.727997e+06,2.914130e+05,4856.88,On-Time,0,0,Partially Recovered,1,Settlement Offer,No
1,BRW_2,49,Female,Salaried,60893,0,LN_2,1044620,12,13.47,...,1.180032e+06,6.652042e+05,55433.68,On-Time,0,0,Fully Recovered,2,Settlement Offer,No
2,BRW_3,35,Male,Salaried,116520,1,LN_3,1923410,72,7.74,...,2.622540e+06,1.031372e+06,14324.61,Delayed,2,124,Fully Recovered,2,Legal Notice,No
3,BRW_4,63,Female,Salaried,140818,2,LN_4,1811663,36,12.23,...,1.145493e+06,2.249739e+05,6249.28,On-Time,1,56,Fully Recovered,2,Calls,No
4,BRW_5,28,Male,Salaried,76272,1,LN_5,88578,48,16.13,...,0.000000e+00,3.918989e+04,816.46,On-Time,1,69,Fully Recovered,0,Debt Collectors,No

In [4]:
cleaned_df = cleaner.clean(df)

[INFO] Standardized column names.
[INFO] Standardized string columns (lowercased + trimmed).
[INFO] High-cardinality columns (consider encoding strategies): ['borrower_id', 'loan_id']
[INFO] Potential numeric outliers detected:
{'outstanding_loan_amount': 3, 'monthly_emi': 35, 'num_missed_payments': 21, 'collection_attempts': 40}
[INFO] Converted object columns to category: ['gender', 'employment_type', 'loan_type', 'payment_history', 'recovery_status', 'collection_method', 'legal_action_taken']
[INFO] Data cleaning completed.

In [5]:
cleaned_df.head()

,borrower_id,age,gender,employment_type,monthly_income,num_dependents,loan_id,loan_amount,loan_tenure,interest_rate,...,collateral_value,outstanding_loan_amount,monthly_emi,payment_history,num_missed_payments,days_past_due,recovery_status,collection_attempts,collection_method,legal_action_taken
0,brw_1,59,male,salaried,215422,0,ln_1,1445796,60,12.39,...,1.727997e+06,2.914130e+05,4856.88,on-time,0,0,partially recovered,1,settlement offer,no
1,brw_2,49,female,salaried,60893,0,ln_2,1044620,12,13.47,...,1.180032e+06,6.652042e+05,55433.68,on-time,0,0,fully recovered,2,settlement offer,no
2,brw_3,35,male,salaried,116520,1,ln_3,1923410,72,7.74,...,2.622540e+06,1.031372e+06,14324.61,delayed,2,124,fully recovered,2,legal notice,no
3,brw_4,63,female,salaried,140818,2,ln_4,1811663,36,12.23,...,1.145493e+06,2.249739e+05,6249.28,on-time,1,56,fully recovered,2,calls,no
4,brw_5,28,male,salaried,76272,1,ln_5,88578,48,16.13,...,0.000000e+00,3.918989e+04,816.46,on-time,1,69,fully recovered,0,debt collectors,no

In [6]:
cleaner.report

{'high_card_cols': ['borrower_id', 'loan_id'],
 'outliers': {'outstanding_loan_amount': 3,
  'monthly_emi': 35,
  'num_missed_payments': 21,
  'collection_attempts': 40},
 'converted_to_category': ['gender',
  'employment_type',
  'loan_type',
  'payment_history',
  'recovery_status',
  'collection_method',
  'legal_action_taken']}